# Pinned requirements for molecule tests.
# Molecule and molecule-docker are ... not the most reliable pieces of software when it comes to updates,
# so lets manage their versions ourselves
molecule==4.0.1
molecule-docker==2.1.0
