# Requirements for developing this collection
# Includes utilities, CLI helpers and so on

# Linting & Formatting
ansible-lint==6.20.3
pylint==3.0.1
autopep8==2.0.4
pre-commit==3.4.0

# Test scenario runner
tox==3.28.0

# Utility packages used in scripts
pyyaml==6.0.1
packaging==23.2

# Also include a version of ansible-core for IDE hints and such.
# Note that this version is independent of the one used in tests, see tox.ini
# and /tests
ansible-core==2.15.5
