# Requirements for developing this collection
# Includes utilities, CLI helpers and so on

# Linting & Formatting
ansible-lint==24.2.3
pylint==3.1.0
autopep8==2.1.0
pre-commit==3.7.0

# Testing libraries
pytest==8.2.0
pytest-virtualenv==1.7.0
docker==7.0.0

# Utility packages used in scripts
pyyaml==6.0.1
packaging==24.0

# Also include a version of ansible-core for IDE hints
# and as the default version used in tests.
# It is also needed for docs generation
ansible-core==2.16.6

# Docs
antsibull-docs==2.11.0
ansible-pygments==0.1.1
sphinx==7.3.7
sphinx-ansible-theme==0.10.3
