# Module deps, useful for editor intellisense, etc.
ansible-core

# Linting & Formatting
ansible-lint
pylint
autopep8
pre-commit

# Testing
tox

# Utility packages needed for scripts
pyyaml
packaging
