---
- include: check.yml

- block:
    - name: Get latest step-ca release information
      uri:
        url: https://api.github.com/repos/smallstep/certificates/releases/latest
        body_format: json
        return_content: yes
      register: step_ca_latest_release
      delegate_to: localhost
      become: no
      run_once: yes
      retries: 3
      delay: 5
    - name: Set latest release version
      set_fact:
        step_ca_version: "{{ (step_ca_latest_release.json.tag_name)[1:] }}"
  when: step_ca_version == 'latest'
  check_mode: no

- include: "install.yml"

- name: step_ca_user is present
  user:
    name: "{{ step_ca_user }}"
    password: "*"
    home: "{{ step_ca_path }}"
    shell: /usr/sbin/nologin
    system: yes
  no_log: true
- name: Paths are present
  file:
    path: "{{ item }}"
    state: directory
    owner: "{{ step_ca_user }}"
    group: "{{ step_ca_user }}"
    mode: 0700
  loop:
    - "{{ step_ca_path }}"
    - "{{ step_ca_path }}/db"
# This symlink is needed so that step-cli can find
# the ca configuration files without needing to set STEPPATH
- name: .step symlink is present
  file:
    src: "{{ step_ca_path }}"
    dest: "{{ step_ca_path }}/.step"
    state: link
    owner: "{{ step_ca_user }}"
    group: "{{ step_ca_user }}"
    mode: 0700

- include: init.yml

- include: service.yml
