version: 2.1

orbs:
  collection-testing: maxhoesel-ansible/ansible-collection-testing@0.5.3

filters: &semver-tagged
  tags:
    # Official Semver Regex. Yes, it's LOOOONG
    only: /^v(0|[1-9]\d*)\.(0|[1-9]\d*)\.(0|[1-9]\d*)(?:-((?:0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\.(?:0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\+([0-9a-zA-Z-]+(?:\.[0-9a-zA-Z-]+)*))?$/
  branches:
    ignore: /.*/

workflows:
  ci:
    jobs:
      - collection-testing/pre-commit-lint:
          name: Lint
      - collection-testing/antsibull-docs:
          name: Generate Docs
      - collection-testing/run-tox-environments:
          name: Test Modules
          match-environments: \-test\-
          parallelism: 3
          resource-class: medium
          retries: 1
          retry-delay: 60
      - collection-testing/run-tox-environments:
          name: Test Roles
          match-environments: roles
          # number of scenarios * ansible versions to test
          parallelism: 12
          resource-class: large
          retries: 1
          retry-delay: 60
      - collection-testing/publish-github:
          name: Publish Release to GitHub
          context: collection-publishing
          filters: *semver-tagged
      - collection-testing/publish-galaxy:
          name: Publish to Galaxy
          context: collection-publishing
          filters: *semver-tagged
