---
dependency:
  name: galaxy
driver:
  name: docker
platforms:
  # Note on containers:
  # - We use the images provided by geerlingguy, as they provide out-of-the-box
  #   support for Ansible and systemd (needed to test service management).
  # - The containers run as privileged containers so that we can
  #   use systemd functionality. This *should* be possible with unpriliged
  #   containers as well, but is quite the headache.
  # - they are connected to a shared network to allow simulating a remote CA

  # Use the smallstep-provided CA image for testing
  - name: step-ca
    hostname: ${STEP_MOLECULE_CA_HOSTNAME:-step-ca-molecule.localdomain}
    groups:
      - ca
    image: "smallstep/step-ca:${STEP_CA_VERSION:-latest}"
    override_command: false
    pre_build_image: true # we don't actually use the container with ansible, leave it as is
    env:
      DOCKER_STEPCA_INIT_NAME: Molecule ACME CA
      DOCKER_STEPCA_INIT_DNS_NAMES: "${STEP_MOLECULE_CA_HOSTNAME:-step-ca-molecule.localdomain},localhost"
    docker_networks:
      - name: smallstep_acme_cert
    networks:
      - name: smallstep_acme_cert

  - name: step-cert-ubuntu-22
    hostname: step-cert-ubuntu-22.localdomain
    groups:
      - clients
      - ubuntu
    image: "geerlingguy/docker-ubuntu2204-ansible"
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup:ro
    privileged: true
    override_command: false
    pre_build_image: true
    docker_networks:
      - name: smallstep_acme_cert
    networks:
      - name: smallstep_acme_cert

  - name: step-cert-ubuntu-20
    hostname: step-cert-ubuntu-20.localdomain
    groups:
      - clients
      - ubuntu
    image: "geerlingguy/docker-ubuntu2004-ansible"
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup:ro
    privileged: true
    override_command: false
    pre_build_image: true
    docker_networks:
      - name: smallstep_acme_cert
    networks:
      - name: smallstep_acme_cert

  - name: step-cert-ubuntu-18
    hostname: step-cert-ubuntu-18.localdomain
    groups:
      - clients
      - ubuntu
    image: "geerlingguy/docker-ubuntu1804-ansible"
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup:ro
    privileged: true
    override_command: false
    pre_build_image: true
    docker_networks:
      - name: smallstep_acme_cert
    networks:
      - name: smallstep_acme_cert

  - name: step-cert-debian-11
    hostname: step-cert-debian-11.localdomain
    groups:
      - clients
      - debian
    image: "geerlingguy/docker-debian11-ansible"
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup:ro
    privileged: true
    override_command: false
    pre_build_image: true
    docker_networks:
      - name: smallstep_acme_cert
    networks:
      - name: smallstep_acme_cert

  - name: step-cert-debian-10
    hostname: step-cert-debian-10.localdomain
    groups:
      - clients
      - debian
    image: "geerlingguy/docker-debian10-ansible"
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup:ro
    privileged: true
    override_command: false
    pre_build_image: true
    docker_networks:
      - name: smallstep_acme_cert
    networks:
      - name: smallstep_acme_cert

  - name: step-cert-rockylinux-9
    hostname: step-cert-rockylinux-9.localdomain
    groups:
      - clients
      - rockylinux
    image: "geerlingguy/docker-rockylinux9-ansible"
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup:ro
    privileged: true
    override_command: false
    pre_build_image: true
    docker_networks:
      - name: smallstep_acme_cert
    networks:
      - name: smallstep_acme_cert

  - name: step-cert-rockylinux-8
    hostname: step-cert-rockylinux-8.localdomain
    groups:
      - clients
      - rockylinux
    image: "geerlingguy/docker-rockylinux8-ansible"
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup:ro
    privileged: true
    override_command: false
    pre_build_image: true
    docker_networks:
      - name: smallstep_acme_cert
    networks:
      - name: smallstep_acme_cert

  - name: step-cert-fedora-36
    hostname: step-cert-fedora-36.localdomain
    groups:
      - clients
      - fedora
    image: "geerlingguy/docker-fedora36-ansible"
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup:ro
    privileged: true
    override_command: false
    pre_build_image: true
    docker_networks:
      - name: smallstep_acme_cert
    networks:
      - name: smallstep_acme_cert

provisioner:
  name: ansible
  env:
    ANSIBLE_PIPELINING: "True"
  inventory:
    group_vars:
      ca:
        step_ca_user: step-ca
      all:
        step_cli_version: ${STEP_CLI_VERSION:-latest}
        step_ca_version: ${STEP_CA_VERSION:-latest}
        step_cli_steppath: /etc/step-cli-molecule

        step_bootstrap_ca_url: https://${STEP_MOLECULE_CA_HOSTNAME:-step-ca-molecule.localdomain}:9000

        step_acme_cert_ca_provisioner: ACME

scenario:
  test_sequence:
    - lint
    - destroy
    - dependency
    - syntax
    - create
    - prepare
    - converge
    - idempotence
    - check # also run check mode in regular tests
    - side_effect
    - verify
    - destroy

verifier:
  name: ansible
