- name: Look for step_cli_executable # noqa command-instead-of-shell
  #"command" is a shell builtin, hence the need for the shell module
  shell: "command -v {{ step_cli_executable }}"
  register: step_cli_install
  # dash (Debian sh shell) uses 127 instead of 1 for not found errors
  failed_when: step_cli_install.rc not in [0,1,127]
  changed_when: no
  check_mode: no

- name: Get currently installed step-cli version
  shell: >
    set -o pipefail &&
    {{ step_cli_executable }} version | cut -d' ' -f 2 | cut -d'/' -f 2 | awk 'FNR == 1'
  args:
    executable: /bin/bash
  changed_when: no
  check_mode: no
  register: step_cli_installed_version
  when: step_cli_install.rc == 0

- name: Install step-cli
  block:

    - name: Download and extract step-cli archive
      unarchive:
        src: "https://github.com/smallstep/cli/releases/download/v{{ step_cli_version }}/step_linux_{{ step_cli_version }}_{{ step_cli_arch[ansible_architecture] }}.tar.gz"
        dest: /tmp/
        remote_src: yes
      retries: 3
      delay: 3
    - name: Install step-cli binary # noqa no-changed-when
      shell: >
        set -o pipefail &&
        mv -Z /tmp/step_{{ step_cli_version }}/bin/step {{ _step_cli_install_path }}
      args:
        executable: /bin/bash
    # mv does not automatically set selinux labels, so we have to do it ourselves
    - name: Restore SELinux context for binary
      command: "restorecon -v {{ _step_cli_install_path }}"
      when: ansible_selinux is defined and ansible_selinux and ansible_selinux.status == 'enabled'
  always:
    - name: Remove step release archive
      file:
        path: "/tmp/step_{{ step_cli_version }}"
        state: absent
  when: (step_cli_installed_version.stdout) | default("") != step_cli_version
