---
dependency:
  name: galaxy
driver:
  name: docker
platforms:
  # Note on containers:
  # - We use the images provided by geerlingguy, as they provide out-of-the-box
  #   support for Ansible and systemd (needed to test service management).
  # - The containers run as privileged containers so that we can
  #   use systemd functionality. This *should* be possible with unpriliged
  #   containers as well, but is quite the headache.
  - name: step-ca-ubuntu-22
    groups:
      - ubuntu
      - ca
    image: "geerlingguy/docker-ubuntu2204-ansible"
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup:ro
    privileged: true
    override_command: false
    pre_build_image: true

  - name: step-ca-ubuntu-20
    groups:
      - ubuntu
      - ca
    image: "geerlingguy/docker-ubuntu2004-ansible"
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup:ro
    privileged: true
    override_command: false
    pre_build_image: true

  - name: step-ca-ubuntu-18
    groups:
      - ubuntu
      - ca
    image: "geerlingguy/docker-ubuntu1804-ansible"
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup:ro
    privileged: true
    override_command: false
    pre_build_image: true

  - name: step-ca-debian-11
    groups:
      - debian
      - ca
    image: "geerlingguy/docker-debian11-ansible"
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup:ro
    privileged: true
    override_command: false
    pre_build_image: true

  - name: step-ca-debian-10
    groups:
      - debian
      - ca
    image: "geerlingguy/docker-debian10-ansible"
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup:ro
    privileged: true
    override_command: false
    pre_build_image: true

  - name: step-ca-rockylinux-9
    groups:
      - rockylinux
      - ca
    image: "geerlingguy/docker-rockylinux9-ansible"
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup:ro
    privileged: true
    override_command: false
    pre_build_image: true

  - name: step-ca-rockylinux-8
    groups:
      - rockylinux
      - ca
    image: "geerlingguy/docker-rockylinux8-ansible"
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup:ro
    privileged: true
    override_command: false
    pre_build_image: true

  - name: step-ca-fedora-36
    groups:
      - fedora
      - ca
    image: "geerlingguy/docker-fedora36-ansible"
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup:ro
    privileged: true
    override_command: false
    pre_build_image: true

provisioner:
  name: ansible
  config_options:
    ssh_connection:
      pipelining: yes
    defaults:
      forks: 15
  inventory:
    group_vars:
      all:
        step_cli_version: ${STEP_CLI_VERSION}
        step_ca_version: ${STEP_CA_VERSION}

      ca:
        step_ca_name: Molecule Test CA
        step_ca_user: step-ca-molecule
        step_ca_root_password: molecule
        step_ca_intermediate_password: molecule-intermediate
        step_ca_path: /etc/step-ca-molecule
        step_ca_ssh: yes

        step_ca_existing_root: local
        step_ca_existing_root_file: files/molecule-ca.crt
        step_ca_existing_key: local
        step_ca_existing_key_file: files/molecule-ca.key
        step_ca_existing_key_password: molecule


scenario:
  test_sequence:
    - lint
    - destroy
    - dependency
    - syntax
    - create
    - prepare
    - converge
    - idempotence
    - check # also run check mode in regular tests
    - side_effect
    - verify
    - destroy

verifier:
  name: ansible
