---
name: CI
on:
  push:
  pull_request:
    branches:
      - main

jobs:
  lint:
    name: "Lint"
    runs-on: ubuntu-latest
    steps:
      - name: Check out codebase
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Set up Python 3
        uses: actions/setup-python@v2
        with:
          python-version: "3.6"
      - name: Set up pip
        run: pip3 install --upgrade pip

      - name: Install tox
        run: sudo apt update && sudo apt install -y tox

      - name: Lint collection
        run: tox -e lint


  modules:
    name: "Modules"
    runs-on: ubuntu-latest
    steps:
      - name: Check out codebase
        uses: actions/checkout@v2

      - name: Set up Python 3
        uses: actions/setup-python@v2
        with:
          python-version: "3.6"
      - name: Set up pip
        run: pip3 install --upgrade pip

      - name: Install tox
        run: sudo apt update && sudo apt install -y tox

        # Temporary fix for: https://github.com/maxhoesel/ansible-collection-smallstep/issues/100
      - name: Install tox-ansible manually
        run: pip3 install git+https://github.com/ansible-community/tox-ansible@8d0e3cfe31899b9d735f1b879deb1abdfb3673e9#egg=tox-ansible
        
      - name: Run sanity tests
        run: tox -e sanity -- --docker --color -v --python 3.6
      - name: Run integration tests
        run: tox -e integration -- --docker --color -v --python 3.6


  discover-scenarios:
    runs-on: ubuntu-latest
    outputs:
      roles: ${{ steps.set-roles.outputs.roles }}
    steps:
      - name: Check out codebase
        uses: actions/checkout@v2
      - name: Set up Python 3
        uses: actions/setup-python@v2
        with:
          python-version: "3.6"
      - name: Install tox and initialize workdir
        run: |
          sudo apt update && sudo apt install -y tox
          tox -l
      - name: Discover roles
        id: set-roles
        # Convert the tox scenario listing into a JSON/YAML list, filtering out any non-molecule/lint scenarios
        run: |
          export roles="[`for l in $(tox -l); do echo "'$l'"; done | grep ansible | grep -v "lint" | tr '\n' ',' | sed '$s/,$//'`]"
          echo "::set-output name=roles::$roles"

  roles:
    name: "${{ matrix.role }}"
    runs-on: ubuntu-latest
    needs: discover-scenarios
    strategy:
      fail-fast: false
      matrix:
        role: ${{ fromJson(needs.discover-scenarios.outputs.roles) }}
    steps:
      - name: Check out codebase
        uses: actions/checkout@v2

      - name: Set up Python 3
        uses: actions/setup-python@v2
        with:
          python-version: "3.6"
      - name: Install ansible-base
        run: |
          pip3 install --upgrade pip
          pip3 install ansible-base

      - name: Build and install collection
        run: |
          ansible-galaxy collection build --force
          ansible-galaxy collection install *.tar.gz --force

      - name: Install tox
        run: sudo apt update && sudo apt install -y tox

      - name: Initialize tox
        run: tox -l
      - name: Run role tests
        run: tox -e ${{ matrix.role }}
